# dependencies
frontend/node_modules
backend/vendor

# production
build

# misc
.DS_Store
npm-debug.log

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
handrank

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

